@use '/src/_vars' as *

.logo
    width: 90px
    
    &__container
        font-weight: 600
        font-size: 1.2rem
        letter-spacing: -2px
        color: $electric-blue
        display: flex
        align-items: center
        cursor: pointer
