@use '/src/_vars' as *

.header
    &__container
        color: $electric-blue
        font-weight: 600
        font-size: 1.5rem
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between

        figure
            display: flex
            align-items: center

        #logo
            width: 100px
            fill: black

    &__profile
        color: black
        display: flex

        img
            width: 30px

        &__icons
            width: 240px
            justify-content: space-around

        #currency
            font-size: 1.2rem
            letter-spacing: -1px
            font-weight: 800

        #profile
            width: 69px