@use '../Logo/_logo'

.footer
    &__container
        background-color: #f7f8f9
        display: flex 
        position: absolute
        align-items: center
        justify-content: space-around
        bottom: 0
        height: 260px
        width: 100%
        padding: 0 5%
    
    &__subscribe
        border: 1px solid red
        display: flex
        flex-flow: column
        justify-content: center
        align-items: center
    
table
    border: 1px solid red
    height: 50% 
    width: 50%
    text-align: left

tr
    padding: 100px