@use '../Logo/_logo'

.footer
    &__container
        background-color: #f7f8f9
        display: flex 
        position: absolute
        bottom: 0
        height: 260px
        width: 100%
    
    &__subscribe
        border: 1px solid red
        display: flex
        flex-flow: column
        justify-content: center
        align-items: center